{% load static %}



<div class="col-md-12 col-lg-4 sidebar">
    <!--
     <div class="sidebar-box search-form-wrap">
        <form action="#" class="search-form">
            <div class="form-group">
                <span class="icon fa fa-search"></span>
                <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
            </div>
        </form>
    </div>
     -->
    <!-- END sidebar-box -->
    <!--
     <div class="sidebar-box">
        <div class="bio text-center">
            <img src="{% static 'images/person_1.jpg' %}" alt="Image Placeholder" class="img-fluid">
            <div class="bio-body">
                <h2>David Craig</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias minus.</p>
                <p><a href="#" class="btn btn-primary btn-sm rounded">Read my bio</a></p>
                <p class="social">
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                </p>
            </div>
        </div>
    </div>
     -->
    <!-- END sidebar-box -->
    {% if popularposts %}
        <div class="sidebar-box">
            <h3 class="heading">Popular Posts</h3>
            <div class="post-entry-sidebar">
                <ul>

                    {% for popularpost in popularposts %}
                        <li>
                            <a href="{% url 'posts:postDetail' popularpost.category.slug popularpost.id popularpost.slug %}">
                                <img style="height: 55px" src="{{ popularpost.image.url }}" alt="Image placeholder" class="mr-4">
                                <div class="text">
                                    <h4>{{ popularpost.title | title }}</h4>
                                    <div class="post-meta">
                                        <span class="mr-2">{{ popularpost.created | date }} </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}


                </ul>
            </div>
        </div>
    {% endif %}
    <!-- END sidebar-box -->

    {% if categories %}
        <div class="sidebar-box">
            <h3 class="heading">Categories</h3>
            <ul class="categories">
                {% for category in categories %}
                    <li><a href="{% url 'posts:posts_by_category' category.slug %}">{{ category }} <span>({{ category.post_set.count }})</span></a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <!-- END sidebar-box -->

    {% if tags %}
        <div class="sidebar-box">
            <h3 class="heading">Tags</h3>
            <ul class="tags">
                {% for tag in tags %}
                    <li><a href="{% url 'posts:posts_by_tag' tag.slug %}">{{ tag }}</a></li>
                {% endfor %}

            </ul>
        </div>
    {% endif %}
</div>
<!-- END sidebar -->
</div>
</div>
</section>
