{% extends 'partials/_base.html' %}
{% load static %}


{% block content %}
    <!-- SLIDER section -->
    <section class="site-section pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme home-slider">

                        {% for randompost in randomposts %}
                            <div>
                                <a href="{% url 'posts:postDetail' randompost.category.slug randompost.id randompost.slug %}" class="a-block d-flex align-items-center height-lg" style="background-image: url({{ randompost.image.url }});">
                                    <div class="text half-to-full">
                                        <span class="category mb-5">{{ randompost.category.name }}</span>
                                        <div class="post-meta">
                                            <span class="author mr-2"><img src="{{ randompost.author.userdetail.image.url }}" alt="Colorlib"> {{ randompost.author.username }}</span>&bullet;
                                            <span class="mr-2">{{ randompost.created | date }} </span> &bullet;
                                            <span class="ml-2"><span class="fa fa-eye"></span> {{ randompost.getHitCount }}</span>
                                        </div>
                                        <h3>{{ randompost.title | title }}</h3>
                                        <p>{{ randompost.content | safe | linebreaks | truncatechars:100 }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="site-section pt-0 pb-3">
    <div class="container">
    <div class="row mb-4">
        <div class="col-md-6">
            <h2 class="mb-4">Latest Posts</h2>
        </div>
    </div>
    <div class="row blog-entries">
    <div class="col-md-12 col-lg-8 main-content">
        <div class="row mb-5">
            <div class="col-md-12">
                {% if latestposts %}
                    {% for latestpost in latestposts %}
                        <div class="post-entry-horzontal ">
                            <a style="width: 100%" href="{% url 'posts:postDetail' latestpost.category.slug latestpost.id latestpost.slug %}">
                                <div class="image element-animate " data-animate-effect="fadeIn" style="background-image: url({{ latestpost.image.url }});"></div>
                                <span class="text">
                                    <div class="post-meta ">
                                        <span class="author mr-2"><img src="{{ latestpost.author.userdetail.image.url }}" alt="Colorlib"> {{ latestpost.author.username | title }}</span>&bullet;
                                        <span class="mr-2">{{ latestpost.created | date }} </span> &bullet;
                                        <span class="mr-2">{{ latestpost.category.name }}</span> &bullet;
                                        <span class="ml-2"><span class="fa fa-eye"></span> {{ latestpost.getHitCount }}</span>
                                    </div>
                                    <h2>{{ latestpost.title | title}}</h2>
                                    <p class="mb-0">{{ latestpost.content|safe|linebreaks|truncatechars:100 }}</p>
                                </span>
                            </a>
                        </div>
                        <!-- END post -->
                    {% endfor %}
                {% else %}
                    <div class="alert alert-primary" role="alert">
                        The article to be listed was not found!
                    </div>
                {% endif %}


                <!-- Show All Posts Link YEK -->
                <div class="row mb-3">
                    <div class="col-md-12 text-center text-capitalize" style="height:40px">
                        <a onmouseover='$(this).addClass("btn btn-sm btn-primary")' onmouseout='$(this).removeClass("btn btn-sm btn-primary")' href="{% url 'posts:posts' %}"> Show All Posts <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- END main-content -->
{% endblock %}

