{% extends 'partials/_base.html' %}
{% load static %}


{% block content %}
    <section class="site-section">
    <div class="container">
    <div class="row mb-4">
        <div class="col-md-6">
            <h1>Register Form</h1>
        </div>
    </div>
    <div class="row blog-entries">
    <div class="col-md-12 col-lg-8 main-content">

        <form action="{% url 'user:register' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" id="first_name" name="first_name" class="form-control" required>
                </div>
                <div class="col-md-12 form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" id="last_name" name="last_name" class="form-control" required>
                </div>
                <div class="col-md-12 form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="col-md-12 form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" >
                </div>
                <div class="col-md-12 form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="col-md-12 form-group">
                    <label for="repassword">Confirm Password</label>
                    <input type="password" id="repassword" name="repassword" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="submit" value="Sign Up" class="btn btn-primary">
                </div>
            </div>
        </form>


    </div>

    <!-- END main-content -->


{% endblock %}
